@import url("_atom-one-dark.min.css");
@import url("_codemirror.css");
@import url("_nord.css");
@import url("_katex.css");

.card {
    font-size: 14px;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", "Noto Sans", sans-serif;
    color: black;
    background-color: white;
    text-align: left;
}

.card.night_mode {
    background-color: rgba(33, 33, 33, 1);
    color: white;

    code {
        background-color: #ffffff12;
        border-color: #f7faff1f;
        color: #eff1f6;
    }

    .example-block {
        color: #fff9;
    }

}

.tag-btn {
    padding: 1px 5px;
    color: #5a5a5a;
    font-size: 13px;
    font-weight: 500;
    margin-right: 3px;
    border: 1px solid #ddd;
}

.Easy {
    background-color: #5cb85c;
}

.Medium {
    background-color: #f0ad4e;
}

.Hard {
    background-color: #d9534f;
}

pre {
    padding: 6px 13px;
    font-size: 13px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Courier New', 'Source Code Pro', monospace;
    overflow: auto;
    tab-size: 4;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.night_mode pre {
    background-color: #333333;
    color: white;
}

table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.coditer {
    justify-content: center;
}

.coditer-content {
    margin: 2px;
}

.editor-title {
    font-size: 20px;
    font-family: monospace;
    color: white;
    background: #262626;
    padding: 8px;
    border-radius: 6px 6px 0 0;
}

.CodeMirror {
    border-radius: 0 0 6px 6px;
}

.editor-buttons {
    float: right;
}

.start-button {
    color: #FF7043;
    padding: 2px;
    border-radius: 6px;
}

code {
    background-color: #000a2008;
    border-color: #0000000d;
    border-radius: 5px;
    border-width: 1px;
    color: #262626;
    font-family: Menlo, sans-serif;
    font-size: .75rem;
    line-height: 1rem;
    padding: .125rem;
    white-space: pre-wrap;
}

.example-block {
    border-color: #ffffff24;
    border-left-width: 2px;
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    overflow: visible;
    padding-left: 1rem;
}

.example-block .example-io {
    font-family: Menlo, sans-serif;
    font-size: .85rem;
}


/* Material Icon Font */

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(_Material_Symbols_Outlined.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.loading {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

pre, code {
    white-space: pre;
}